* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body
{min-block-size: width 100px; 
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: white;}
  
body p a{
  color:white;
}
header {
    background-color:black;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative
}
.logo img{
 border-radius: 70%;
 object-fit: cover;
 width:80px;
 min-height: 80px;
}
.line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #4a7c1b;
    z-index: 1;
  }

nav ul {
    list-style: none;
    display: flex;
    }

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;

}

.submenu1 {
    background:#111;  

}
.submenu1 ul li a {
    color:white;
}
.submenu {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px;
    z-index: 1;
    left: 60; /* Posiciona o submenu à esquerda do item pai */
    opacity: 0; /* Esconde o submenu inicialmente */
    transition: opacity 0.3s ease-in-out; /* Adiciona uma transição suave */
}

.submenu .divider {
  height: 1px;
  background-color: #ccc;
  margin: 10px 0;
}
nav ul li:hover .submenu {
    display: block;
    opacity: 1; /* Mostra o submenu */
}

.container {
    display: flex;
    justify-content:space-between; /* Alinha as colunas horizontalmente */
    margin-top:10px ;
    margin-left:300px;

  }
  
.main-content {
    display:flex;
    flex-direction: column;
    margin: 0 auto;
  }
.main-content img{
    max-width: 70%;
    max-height:25%;
    margin-bottom:10px;
    margin-top:10px;
     
}
.main-content p {
    text-align:justify;
    max-width:70%; 
    margin-bottom:15px;
    margin-top:5px ;

   }

.main-content h2{
  text-align:center;
  margin-top:10px;
  max-width:70%; 
  text-decoration: double 20px;;
   }

.main-content h3{
    text-align:justify;
    margin-bottom: 15px;
    max-width:70%; 
}
  .sidebar {
    flex: 1 1 10px; /* Grow -(quanto vai crescer)  , Shrink (quanto vai dimunuir _, basis (tamamno base de cada item */
    display:flex;
    flex-direction: column;
    background-color:#218838;
    width: 240px;
    height: 100%;
    top: 0;
    align-items: flex-start;
    position: sticky;  
  }

  /* Estilos adicionais para ajustar o layout e o conteúdo */
  .sidebar ul {
    list-style: none;
    padding: 10px;
  }
  
.sidebar li {
    margin-bottom: 10px;
    text-align:initial;
  }
  
.sidebar li a{
 color: white;
  }

.sidebar h3 {
  text-align: center;

  }

.sidebar img {
    width: 100px;;
    min-height: 50 px;
    object-fit: cover;
  }

footer {
    padding: 0px;
    text-align: center;
  }
   .footer {
    padding: 50px;
    background-color: #111;
    text-align: center;
  }

 .form{
    border-radius: 14px;
    width:100%;
    margin: 10px;
    max-width: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: white;
    overflow: hidden;
}
    
.header-form{
  text-align: center;  
  margin: 10px 0;
  width: 100%;
  max-width: 600px;
  position: absolute;
  top: 20%;
  left: 35%;
}
.form{
      padding: 15px;
 }
  
.form-group {
  margin-bottom: 8px;
  padding-bottom: 5px;
  position: relative;
}
  
  .form-group label{
      display:inline-block;
      margin-bottom: 4px;
}
  
.form-group input{
    padding: 10px;
    margin: 10px 0;
    width: 100%;
    border-radius: 5px;
    font-size: 1.1 rem;
    border:1px  solid #ccc;

 }

.form-group a {
bottom:-8px ;
left: 0;
position: absolute;
visibility: hidden;
}

.form button{
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    margin-top: 10px;
    border-radius: 5px;
    display: block;
    font-size: 16px;
  }

.footer-image {
    max-width: 100%;
    height: auto;
    position: relative;
}
    @media (max-width: 768px) {
.footer-image img {
          height: 50vh; 
 }
}

  
  /* ---------- Estilos dinâmicos ---------- */


.form-group.error input{
    border: 1px solid #ff3b25;
    visibility: visible;
}

.form-group.error a {
    color: #ff3b25;
    visibility: visible;
}
  