/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #000;
    color: #fff;
}

header {
    background-color:black;
    padding: 0%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative
}

.line {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 1px;
    background-color: #4a7c1b;
    z-index: 1;
  }

nav ul {
    display: flex;
    list-style: none;
}

nav ul li {
    margin: 0 15px;
}

nav ul li a {
    color: #fff;
    text-decoration: none;
}
.submenu {
    display: none;
    position: absolute;
    background-color: #333;
    padding: 10px;
    z-index: 1;
    left: 60 px; /* Posiciona o submenu à esquerda do item pai */
    opacity:0; /* Esconde o submenu inicialmente */
    transition: opacity 0.3s ease-in-out; /* Adiciona uma transição suave */
}
.submenu .divider {
    height: 1px;
    background-color: #ccc;
    margin: 10px 0;
}


nav ul li:hover .submenu {
    display: block;
    opacity: 1; /* Mostra o submenu */
}



.team-section {
    padding: 50px 0;
    text-align: center;
}

.team-section h1 {
    font-size: 2.5rem;
    margin-bottom: 20px;
}

.team-section p {
    font-size: 1.2rem;
    margin-bottom: 50px;
}

.team-members {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 20px;
}

.member {
    width: 30%;
    background-color: #111;
    padding: 20px;
    text-align: center;
}

.member img {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

.member h2 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

.member p {
    font-size: 1rem;
}

footer {
    padding: 50px;
    background-color: #111;
    text-align: center;
}

form input, form button {
    padding: 10px;
    margin: 10px 0;
    width: 100%;
}

form button {
    background-color: #4CAF50;
    color: #fff;
    border: none;
    cursor: pointer;
}
